<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load humanize %}<body>
    {% for category in categories %}
        <a href ="{% url 'posts:category_detail' category.slug %}">{{ category.name }}</a>
    {% endfor %}
    <br>
    {% if request.user.is_authenticated %}<br>
    nickname: {{ request.user.nickname }} <br><br>
    <a href = "{% url 'accounts:mypage' %}">마이페이지</a>
    <a href = "{% url 'accounts:logout' %}">로그아웃</a><hr><br>
    {% else %}
    <br>
    <a href = "{% url 'accounts:login' %}">로그인</a> 
    <a href = "{% url 'accounts:signup' %}">회원가입</a><br><hr>
    {% endif %}

    {% for category in categories %}
    <h2><a href = "{% url 'posts:category_detail' category.slug %}">{{ category.name }}</a></h2>
    {% for post in category.posts.all %}
    <h3> <a href = "{% url 'posts:detail' post.id %}">{{ post.title }}</a></h3>

    {% empty %}
        아직 작성된 글이 없습니다. 
    {% endfor %}
    {% endfor %}

    

</body>
</html>